.main {
  position: relative;
  width: 100%;
  min-height: 35em;
  margin: 0 auto;
  background: $game-bg;
  border: 2px solid #000;
  border-radius: .3em;
  //cursor: none;

  > * {
    position: absolute;
  }

  .game-bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/game-bg.jpg") bottom center no-repeat;
    background-size: cover;
  }

  @import "components/belts";
  @import "components/crack";
  @import "components/game-info";
  @import "components/item";
  @import "components/player";
}