.main {
  position: relative;
  display: block;
  width: 100%;
  max-width: 960px;
  min-height: 35em;
  margin: 0 auto;
  background: $game-bg url("../img/game-bg.jpg") bottom center no-repeat;
  background-size: cover;
  border: 2px solid #000;
  border-radius: .3em;

  > * {
    position: absolute;
  }
}