.header {
  position: relative;

  h1 {
    font-size: 4em;
    margin: 0;
    padding: .2em 0;
    text-shadow: -3px -2px 0px rgba($red-color, .8);
  }
}

.footer {
  h2 {
    display: none;
    color: lighten(#111, 20%);

    .highest-score {
      color: #111;
    }
    
    &.visible {
      display: block;
    }
  }
}

#preload-images {
  display: none;
}