// START: player's variables
$player-width: 4em;
$player-height: $player-width * 2;
$player-right: 10em;
$player-left: 6em;
$player-banner-left: 10em;
// END: size variables

// START: key setter variables
$bad-input-translate: 50px;
// END: key setter variables

// START: position of belts, cracks and items variables
// moving button
$moving-btn-left: 100%;
$moving-btn-radius: 4em;

// belts
$belt-first-level-top: 10em;
$belt-second-level-top: 20em;
$belts-tilt: 20deg;
$belt-radius: 1em;

// cracks
$crack-first-level-top: $belt-first-level-top + 5em;
$crack-second-level-top: $belt-second-level-top + 5em;
$crack-egg-left: 10em;

// items
$position-1-top: 100%;
$position-2-top: 105%;
$position-3-top: 100%;
$position-4-top: 105%;
$position-5-top: 85%;
$position-6-top: 0%;

$position-1-left: -5%;
$position-2-left: 20%;
$position-3-left: 45%;
$position-4-left: 70%;
$position-5-left: 95%;
$position-6-left: 105%;

$egg-tilt-1: 10deg;
$egg-tilt-2: 120deg;
$egg-tilt-3: 170deg;
$egg-tilt-4: 260deg;
$egg-tilt-5: 400deg;
$egg-tilt-6: 470deg;
// END: position of belts, cracks and items variables

// START: colors variables
$main-color: #eee;
$main-bg: #eecfa1;
$game-bg: #a7deed;
$red-color: #BA3523;
$banner-bg: #191919;
$moving-btn-bg: #ccc;
$moving-btn-click-bg: #134597;
$moving-btn-border-color: #777;
// END: colors variables
