// START: player's variables
$player-width: 4em;
$player-height: $player-width * 2;
$player-right: 10em;
$player-left: 6em;
$player-banner-left: 10em;
// END: size variables

// START: position of belts, cracks and items variables
// belts
$belt-first-level-top: 10em;
$belt-second-level-top: 20em;
$belts-tilt: 20deg;
$belt-radius: 1em;

// cracks
$crack-first-level-top: $belt-first-level-top + 5em;
$crack-second-level-top: $belt-second-level-top + 5em;
$crack-egg-left: 10em;

// items
$position-1-top: -3.1em;
$position-2-top: -2.5em;
$position-3-top: -1.6em;
$position-4-top: -.9em;
$position-5-top: .3em;
$position-6-top: 2.5em;

$position-1-left: 0rem;
$position-2-left: 2.2rem;
$position-3-left: 4.6rem;
$position-4-left: 6.9rem;
$position-5-left: 9.1rem;
$position-6-left: 10rem;

$egg-tilt-1: 30deg;
$egg-tilt-2: 130deg;
$egg-tilt-3: 190deg;
$egg-tilt-4: 280deg;
$egg-tilt-5: 410deg;
$egg-tilt-6: 490deg;
// END: position of belts, cracks and items variables

// START: colors variables
$main-color: #eee;
$main-bg: #777;
$game-bg: #a7deed;
$score-color: #BA3523;
$banner-bg: #191919;
// END: colors variables
