// size variables
$player-width: 4em;
$player-height: $player-width * 2;

// position of belts and items variables
$first-belts-top: 10em;
$seconds-belts-top: 20em;
$belts-tilt: 20deg;
$belt-radius: 1em;

$position-1-top: -2.8em;
$position-2-top: -2.2em;
$position-3-top: -1.2em;
$position-4-top: -.5em;
$position-5-top: .5em;
$position-6-top: 2.8em;

$position-1-left: 0rem;
$position-2-left: 2.2rem;
$position-3-left: 4.6rem;
$position-4-left: 6.9rem;
$position-5-left: 9.1rem;
$position-6-left: 9.5rem;

$egg-tilt-1: 40deg;
$egg-tilt-2: 130deg;
$egg-tilt-3: 190deg;
$egg-tilt-4: 280deg;
$egg-tilt-5: 410deg;
$egg-tilt-6: 450deg;

// colors variables
$main-color: #eee;
$main-bg: #777;
$score-color: #BA3523;