// START: fonts
$main-font: 'Roboto Slab', serif;
// END: fonts

// START: player's variables
$player-width: 4em;
$player-height: $player-width * 2;
$player-left: 6.5em;
$player-right: 10.5em;
$player-banner-left: 10em;
// END: size variables

// START: key setter variables
$bad-input-translate: 50px;
// END: key setter variables

// START: position of belts, cracks and items variables
// moving button
$moving-btn-left: 100%;
$moving-btn-radius: 4em;

// belts
$belt-width: 12em;
$belt-height: 3em;
$belt-first-level-top: 25%;
$belt-second-level-top: 52%;
$belt-left: -12px;
$belts-tilt: 20deg;
$belt-radius: 1em;

// cracks
$crack-first-level-top: $belt-first-level-top + 18%;
$crack-second-level-top: $belt-second-level-top + 18%;
$crack-egg-left: $belt-width + .5em;

// items
$position-1-top: 90%;
$position-2-top: 95%;
$position-3-top: 90%;
$position-4-top: 95%;
$position-5-top: 80%;
$position-6-top: 10%;

$position-1-left: 0%;
$position-2-left: 20%;
$position-3-left: 45%;
$position-4-left: 70%;
$position-5-left: 95%;
$position-6-left: 110%;

$egg-tilt-1: 10deg;
$egg-tilt-2: 120deg;
$egg-tilt-3: 170deg;
$egg-tilt-4: 260deg;
$egg-tilt-5: 400deg;
$egg-tilt-6: 470deg;
// END: position of belts, cracks and items variables

// START: colors variables
$main-color: #eee;
$main-bg: #eecfa1;
$game-bg: #a7deed;
$red-color: #BA3523;
$banner-bg: #191919;
$moving-btn-bg: #ccc;
$moving-btn-click-bg: #134597;
$moving-btn-border-color: #777;
// END: colors variables
