html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

@import "variables";
@import "mixins/animation";
@import "mixins/item-position";
@import "mixins/keyframes";
@import "mixins/transform";
@import "mixins/transition";

body {
  position: relative;
  font-size: 100%;
  font-family: $main-font;
  font-weight: 400;
  max-width: 80%;
  background: $main-bg url("../img/page-bg.jpg") no-repeat center top;
  //background: $game-info-color;
  background-size: 100%;
  margin: 0 auto;
}

h1 {
  font-family: $main-font;
  font-weight: 700;
  text-align: center;
}

a, button {
  font-family: $main-font;
  font-weight: 700;
}

@import "parts";
@import "main";
@import "components/banner";
@import "components/high-score";
@import "components/main-headline";
@import "components/phone";
