html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

// variables
@import "variables";

//functions
@import "functions/delete-unit";

// mixins
@import "mixins/item-position";
@import "mixins/animation";
@import "mixins/keyframes";
@import "mixins/transform";
@import "mixins/transition";

body {
  position: relative;
  font-size: 100%;
  font-family: $main-font;
  font-weight: 400;
  max-width: 100%;
  min-width: 559px;
  background: $main-bg url("../img/page-bg.jpg") no-repeat center top;
  background-size: cover;
  margin: 0 auto;

  #preload-images { display: none; }
}

h1 {
  font-family: $main-font;
  font-weight: 700;
  text-align: center;
}

a, button {
  font-family: $main-font;
  font-weight: 700;
}

@import "components/banner";
@import "components/belts";
@import "components/crack";
@import "components/flags";
@import "components/game-info";
@import "components/high-score";
@import "components/item";
@import "components/key-setter";
@import "components/main-headline";
@import "components/moving-btn";
@import "components/player";
@import "parts";
@import "main";
@import "media";
