html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

@import "variables";

body {
  position: relative;
  font-size: 100%;
  font-family: 'Trykker', serif;
  max-width: 75%;
  background: $main-bg;
  margin: 0 auto;
}

h1 {
  font-family: 'Molle', cursive;
  text-align: center;
}

a {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

@import "parts";
@import "main";
@import "components/banner";
