.banner {
  position: fixed;
  //display: none;
  //top: 0;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, .8);
  z-index: 10;

  transition: all .5s ease-out;

  &.active {
    //display: block;
    bottom: 0;
  }

  .banner-content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 10em 0;
    background: $banner-bg;
    border: 4px solid $main-color;
    border-radius: .3em;
  }

  h1 {
    font-size: 8em;
    margin: 0;
    color: $main-color;
  }

  .buttons {
    text-align: center;
    margin-top: 8em;
  }

  .btn {
    display: block;
    color: $main-color;
    background: rgba(#000, .6);
    margin: 0 auto .5em;
    padding: .3em 1em .4em;
    border: .04em solid $main-color;
    border-radius: .15em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .04em;
    cursor: pointer;

    transition: all .3s ease;

    &:focus {
      outline: none;
    }

    &:hover {
      color: #555;
      background: #fff;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  #start-btn {
    font-size: 5em;
  }

  #controls-btn {
    font-size: 3em;
  }

  #stop-btn {
    display: none;
  }
}

#controls-banner {
  width: 100%;
  height: 100%;
  top: 100%;
  background: $banner-bg;

  &.active {
    top: 0;
  }

  .banner-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    h1 {
      width: 100%;
      margin-top: .4em;
    }

    .btn {
      position: relative;
      display: inline-block;
      font-size: 4em;
      margin: 0 .5em 0 0;
      border-color: #000;
      z-index: 15;
      align-self: center;

      &:last-child {
        margin-right: 0;
      }
    }

    #go-back-btn {
      font-size: 2.5em;
    }
  }

  .main {
    position: absolute;
    height: 80%;
    bottom: 0;

    .player {
      &.position-1 { top: 55%; }
      &.position-2 { top: 95%; }
    }

    .belt {
      &.first, &.second { top: 25%; }
      &.third, &.fourth { top: 65%; }
    }
  }
}
