.banner {
  position: fixed;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, .8);
  z-index: 100;
  @include transition(.5s, ease-out);

  &.active { bottom: 0; }

  .banner-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background: $game-bg url("../img/init-bg.jpg") no-repeat center bottom;
    background-size: cover;
    border: 4px solid $main-color;
    border-radius: .3em;

    .score-wrapper {
      display: none;
      font-size: 200%;
      width: 80%;
      margin: 1.5em auto 0 auto;
      background: lighten($control-bnt-bg, 15%);
      text-align: center;
      border: 1px solid #fff;
      border-radius: .6em;

      h2 {
        margin: .2em 0;
      }

      #discount-message {
        .enough { display: none; }

        &.active {
          .enough { display: block; }
          .not-enough { display: none; }
        }
      }

      .score {
        margin-left: .2em;
      }
    }

    .fb-share-button {
      display: none;
      width: 80%;
      padding: .5em 0;
      margin: 0 auto;

      .btn {
        background: $facebook-btn-bg;
        margin: 0 5em;
        padding: .8em 0 .7em;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 90%;
  }

  .circle-logo {
    display: none;
    width: 15em;
    margin: 0 auto;
  }

  h1 {
    font-size: 8em;
    margin: 0;
    color: $main-color;
  }

  .buttons {
    font-size: 80%;
    text-align: center;
  }

  .btn {
    display: block;
    color: $main-color;
    background: $banner-btn-bg;
    margin: 0 auto .25em;
    padding: .3em 1em .4em;
    border: .02em solid $main-color;
    border-radius: .6em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .04em;
    cursor: pointer;
    @include transition;

    &:focus {
      outline: none;
    }

    &:hover,
    &.click {
      color: #555;
      background: #fff;
    }

    &:last-child { margin-bottom: 0; }
  }

  #controls-btn {
    font-size: 3em;
    padding: .2em 1.5em .1em;
    background: $control-bnt-bg;

    &:hover,
    &.click {
      color: #555;
      background: #fff;
    }
  }

  #start-btn {
    font-size: 5em;

    .new-game {
      display: none;
    }
  }

  #stop-btn { display: none; }
}

#message-banner {
  &.game-over {
    .main-headline {
      display: none;

      &.game-over {
        display: flex;
      }
    }

    .banner-content {
      .score-wrapper { display: block; }
      .fb-share-button { display: block; }
    }

    #start-btn {
      .init-game { display: none; }
      .new-game { display: block; }
    }
  }
}

#controls-banner {
  top: 100%;
  background: $banner-bg;
  display: flex;
  flex-direction: column;

  &.active { top: 0; }

  &.show-input {
    .buttons {
      #change-setting-btn { display: none; }
      #save-setting-btn { display: block; }
    }

    .main {
      .key-setter {
        .key { display: none; }
        .key-input {
          display: inline-block;

          @include animation(showing, 1s, 1);
          @include keyframes(showing) {
            from { border-bottom-color: transparent; }
            to { border-bottom-color: #000; }
          }
        }
      }
    }
  }

  .buttons {
    position: absolute;
    width: 100%;
    top: 1%;
    margin: 0;

    .btn {
      position: absolute;
      font-size: 2.5em;
      top: 0;
      margin: 0;
      z-index: 15;
    }

    #go-back-btn {
      left: 50.5%;
    }

    #change-setting-btn,
    #save-setting-btn {
      right: 50.5%;
    }

    #save-setting-btn { display: none; }
  }

  .banner-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    background: rgba($banner-btn-bg, .75) url("../img/page-bg.jpg");
    background-size: 60%;

    .main-headline {
      font-size: 5em;
      width: 100%;
      margin-top: .8em;
    }
  }

  .main {
    flex-grow: 1;
    cursor: default;
    max-width: unset;

    .player {
      font-size: 160%;

      &.position-1 {
        top: 5em;
        left: $player-banner-left;
      }
      &.position-2 {
        top: unset;
        bottom: 1em;
        left: $player-banner-left;
      }
      &.position-3 {
        left: unset;
        right: $player-banner-left;
      }
      &.position-4 {
        left: unset;
        right: $player-banner-left;
      }
    }

    .belt {
      &.belt-1, &.belt-4 { top: 25%; }
      &.belt-2, &.belt-3 { top: 65%; }
    }
  }
}
