.banner {
  position: fixed;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, .8);
  z-index: 10;
  @include transition(.5s, ease-out);

  &.active { bottom: 0; }

  .banner-content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 5em 0;
    background: $banner-bg;
    border: 4px solid $main-color;
    border-radius: .3em;
  }

  h1 {
    font-size: 8em;
    margin: 0;
    color: $main-color;
  }

  .buttons {
    text-align: center;
    margin-top: 5em;
  }

  .btn {
    display: block;
    color: $main-color;
    background: rgba(#000, .6);
    margin: 0 auto .25em;
    padding: .3em 1em .4em;
    border: .04em solid $main-color;
    border-radius: .15em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .04em;
    cursor: pointer;
    @include transition;

    &:focus {
      outline: none;
    }

    &:hover,
    &.click {
      color: #555;
      background: #fff;
    }

    &:last-child { margin-bottom: 0; }
  }

  #start-btn { font-size: 5em; }
  #controls-btn { font-size: 3em; }
  #stop-btn { display: none; }
}

#controls-banner {
  top: 100%;
  background: $banner-bg;
  display: flex;
  flex-direction: column;

  &.active { top: 0; }

  &.show-input {
    .buttons {
      #change-setting-btn { display: none; }
      #save-setting-btn { display: block; }
    }

    .main {
      .key-setter {
        .key { display: none; }
        .key-input {
          display: inline-block;

          @include animation(showing, 1s, 1);
          @include keyframes(showing) {
            from { border-bottom-color: transparent; }
            to { border-bottom-color: #000; }
          }
        }
      }
    }
  }

  .buttons {
    position: absolute;
    width: 100%;
    top: 1%;
    margin: 0;

    .btn {
      position: absolute;
      font-size: 2.5em;
      top: 0;
      margin: 0;
      border-color: #000;
      z-index: 15;
    }

    #go-back-btn {
      left: 50.5%;
    }

    #change-setting-btn,
    #save-setting-btn {
      right: 50.5%;
    }

    #save-setting-btn { display: none; }
  }

  .banner-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 15em;

    h1 {
      width: 100%;
      line-height: 2em;
    }
  }

  .main {
    flex-grow: 1;
    cursor: default;

    @import "key-setter";

    .player {
      font-size: 160%;

      &.position-1 {
        top: 5em;
        left: $player-banner-left;
      }
      &.position-2 {
        top: unset;
        bottom: 1em;
        left: $player-banner-left;
      }
      &.position-3 {
        left: unset;
        right: $player-banner-left;
      }
      &.position-4 {
        left: unset;
        right: $player-banner-left;
      }
    }

    .belt {
      &.belt-1, &.belt-4 { top: 25%; }
      &.belt-2, &.belt-3 { top: 65%; }
    }
  }
}
