.belt {
  height: 2em;
  background: #000;
  width: 10em;

  &.first,
  &.second {
    top: $first-belts-top;
  }

  &.third,
  &.fourth {
    top: $seconds-belts-top;
  }

  &.first,
  &.third {
    border-radius: 0 $belt-radius 0 0;
    transform: rotate($belts-tilt);
  }

  &.second,
  &.fourth {
    border-radius: $belt-radius 0 0 0;
    transform: rotate(-$belts-tilt);
  }

  &.first {
    left: 0;
  }

  &.second {
    right: 0;
  }

  &.third {
    left: 0;
  }

  &.fourth {
    right: 0;
  }
}