.belt {
  width: $belt-width;
  height: $belt-height;
  background-size: 100%;
  background-repeat: no-repeat;

  &.belt-1, &.belt-4 { top: $belt-first-level-top; }
  &.belt-2, &.belt-3 { top: $belt-second-level-top; }

  &.belt-1,
  &.belt-2 {
    left: $belt-left;
    border-radius: 0 $belt-radius $belt-radius 0;
    @include transform(rotate($belts-tilt));

    .item {
      &.position-1 { @include item-position($position-1-top, $position-1-left, $egg-tilt-1); }
      &.position-2 { @include item-position($position-2-top, $position-2-left, $egg-tilt-2); }
      &.position-3 { @include item-position($position-3-top, $position-3-left, $egg-tilt-3); }
      &.position-4 { @include item-position($position-4-top, $position-4-left, $egg-tilt-4); }
      &.position-5 { @include item-position($position-5-top, $position-5-left, $egg-tilt-5); }
      &.position-6 { @include item-position($position-6-top, $position-6-left, $egg-tilt-6); }
    }
  }

  &.belt-3,
  &.belt-4 {
    @extend .belt-1;
    left: unset;
    right: $belt-left;
    @include transform(rotate(-$belts-tilt) rotateY(180deg));
  }

  &.belt-1, &.belt-4 { background-image: url('../img/vetev-1.png'); }
  &.belt-2, &.belt-3 { background-image: url('../img/vetev-2.png'); }

  .item {
    position: absolute;
  }
}
