.belt {
  height: 2em;
  background: #000;
  width: 10em;

  &.first,
  &.second {
    top: $belt-first-level-top;
  }

  &.third,
  &.fourth {
    top: $belt-second-level-top;
  }

  &.first,
  &.third {
    left: 0;
    border-radius: 0 $belt-radius $belt-radius 0;
    transform: rotate($belts-tilt);
  }

  &.second,
  &.fourth {
    right: 0;
    border-radius: $belt-radius 0 0 $belt-radius;
    transform: rotate(-$belts-tilt);
  }
}