.game-info {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 2em;
  padding: .5em .2em;

  > * {
    display: inline-block;
    min-width: 11em;
  }

  h2 {
    margin: 0 .5em;
    font-weight: 400;
  }
}

.lives-wrapper {
  color: $game-info-color;

  > * {
    display: inline-block;
  }

  .live {
    width: .5em;
    height: 1.2em;
    margin-right: .5em;
    margin-bottom: -.2em;
    background: $game-info-color;
    border-radius: .2em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.score-wrapper {
  color: $game-info-color;

  .score {
    color: $red-color;
    letter-spacing: .08em;
  }
}