.item {
  @include transition(.15s, ease-out);
  font-size: 140%;

  &.egg-1 {
    width: 1.5em;
    min-height: 1.5em;
    background-image: url('../img/egg-1.png');
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  &.egg-2 {
    @extend .egg-1;
    background-image: url('../img/egg-2.png');
  }

  &.egg-3 {
    @extend .egg-1;
    background-image: url('../img/egg-3.png');
  }

  &.egg-4 {
    @extend .egg-1;
    background-image: url('../img/egg-4.png');
  }

  &.egg-5 {
    @extend .egg-1;
    background-image: url('../img/egg-5.png');
  }

  &.egg-6 {
    @extend .egg-1;
    background-image: url('../img/egg-6.png');
  }

  &.egg-7 {
    @extend .egg-1;
    background-image: url('../img/egg-7.png');
  }
}