.item {
  background: #000;

  transition: all .2s ease-out;

  &.mix {
    width: 2em;
    height: 1em;
    border-radius: .5em;
  }

  &.fruit {
    width: 1em;
    height: 1em;
    margin-left: .5em;
    border-radius: 50%;
  }

  &.box {
    @extend .fruit;
    border-radius: 0;
  }

  &.bowl {
    @extend .fruit;
    width: 1.5em;
    border-radius: 0 0 .5em .5em;
  }

  &.belt-1 {
    &.position-1 {
      top: $firstBelts-top + $position-corector-1;
      left: 0;
      transform: rotate(20deg);
    }

    &.position-2 {
      top: $firstBelts-top + $position-corector-2;
      left: 3rem;
      transform: rotate(20deg);
    }

    &.position-3 {
      top: $firstBelts-top + $position-corector-3;
      left: 6rem;
      transform: rotate(20deg);
    }

    &.position-4 {
      top: $firstBelts-top + $position-corector-4;
      left: 9.3rem;
      transform: rotate(40deg);
    }

    &.position-5 {
      top: $firstBelts-top + $position-corector-5;
      left: 10rem;
      transform: rotate(85deg);
    }

    &.position-6 {
      top: $firstBelts-top + $position-corector-6;
      left: 10rem;
      transform: rotate(90deg);
    }
  }
  &.belt-2 {
    &.position-1 {
      top: $secondsBelts-top + $position-corector-1;
      left: 0;
      transform: rotate(20deg);
    }

    &.position-2 {
      top: $secondsBelts-top + $position-corector-2;
      left: 3rem;
      transform: rotate(20deg);
    }

    &.position-3 {
      top: $secondsBelts-top + $position-corector-3;
      left: 6rem;
      transform: rotate(20deg);
    }

    &.position-4 {
      top: $secondsBelts-top + $position-corector-4;
      left: 9.3rem;
      transform: rotate(40deg);
    }

    &.position-5 {
      top: $secondsBelts-top + $position-corector-5;
      left: 10rem;
      transform: rotate(85deg);
    }

    &.position-6 {
      top: $secondsBelts-top + $position-corector-6;
      left: 10rem;
      transform: rotate(90deg);
    }
  }
  &.belt-3 {
    &.position-1 {
      top: $secondsBelts-top + $position-corector-1;
      right: 0;
      transform: rotate(-20deg);
    }

    &.position-2 {
      top: $secondsBelts-top + $position-corector-2;
      right: 3rem;
      transform: rotate(-20deg);
    }

    &.position-3 {
      top: $secondsBelts-top + $position-corector-3;
      right: 6rem;
      transform: rotate(-20deg);
    }

    &.position-4 {
      top: $secondsBelts-top + $position-corector-4;
      right: 9.3rem;
      transform: rotate(-40deg);
    }

    &.position-5 {
      top: $secondsBelts-top + $position-corector-5;
      right: 10rem;
      transform: rotate(-85deg);
    }

    &.position-6 {
      top: $secondsBelts-top + $position-corector-6;
      right: 10rem;
      transform: rotate(-90deg);
    }
  }
  &.belt-4 {
    &.position-1 {
      top: $firstBelts-top + $position-corector-1;
      right: 0;
      transform: rotate(-20deg);
    }

    &.position-2 {
      top: $firstBelts-top + $position-corector-2;
      right: 3rem;
      transform: rotate(-20deg);
    }

    &.position-3 {
      top: $firstBelts-top + $position-corector-3;
      right: 6rem;
      transform: rotate(-20deg);
    }

    &.position-4 {
      top: $firstBelts-top + $position-corector-4;
      right: 9.3rem;
      transform: rotate(-40deg);
    }

    &.position-5 {
      top: $firstBelts-top + $position-corector-5;
      right: 10rem;
      transform: rotate(-85deg);
    }

    &.position-6 {
      top: $firstBelts-top + $position-corector-6;
      right: 10rem;
      transform: rotate(-90deg);
    }
  }
}