.item {
  transition: all .15s ease-out;

  &.egg-1 {
    width: 1.5em;
    min-height: 1.5em;
    background-image: url('../img/egg-1.png');
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  &.egg-2 {
    @extend .egg-1;
    background-image: url('../img/egg-2.png');
  }

  &.egg-3 {
    @extend .egg-1;
    background-image: url('../img/egg-3.png');
  }

  &.egg-4 {
    @extend .egg-1;
    background-image: url('../img/egg-4.png');
  }

  &.egg-5 {
    @extend .egg-1;
    background-image: url('../img/egg-5.png');
  }

  &.egg-6 {
    @extend .egg-1;
    background-image: url('../img/egg-6.png');
  }

  &.egg-7 {
    @extend .egg-1;
    background-image: url('../img/egg-7.png');
  }

  &.mix {
    width: 2em;
    height: 1em;
    background: #000;
    border-radius: .5em;
  }

  &.fruit {
    @extend .mix;
    width: 1em;
    margin-left: .5em;
    border-radius: 50%;
  }

  &.box {
    @extend .fruit;
    border-radius: 0;
  }

  &.bowl {
    @extend .fruit;
    width: 1.5em;
    border-radius: 0 0 .5em .5em;
  }

  &.belt-1 {
    &.position-1 {
      top: $first-belts-top + $position-1-top;
      left: $position-1-left;
      transform: rotate($egg-tilt-1);
    }

    &.position-2 {
      top: $first-belts-top + $position-2-top;
      left: $position-2-left;
      transform: rotate($egg-tilt-2);
    }

    &.position-3 {
      top: $first-belts-top + $position-3-top;
      left: $position-3-left;
      transform: rotate($egg-tilt-3);
    }

    &.position-4 {
      top: $first-belts-top + $position-4-top;
      left: $position-4-left;
      transform: rotate($egg-tilt-4);
    }

    &.position-5 {
      top: $first-belts-top + $position-5-top;
      left: $position-5-left;
      transform: rotate($egg-tilt-5);
    }

    &.position-6 {
      top: $first-belts-top + $position-6-top;
      left: $position-6-left;
      transform: rotate($egg-tilt-6);
    }
  }
  &.belt-2 {
    @extend .belt-1;
    &.position-1 { top: $seconds-belts-top + $position-1-top; }
    &.position-2 { top: $seconds-belts-top + $position-2-top; }
    &.position-3 { top: $seconds-belts-top + $position-3-top; }
    &.position-4 { top: $seconds-belts-top + $position-4-top; }
    &.position-5 { top: $seconds-belts-top + $position-5-top; }
    &.position-6 { top: $seconds-belts-top + $position-6-top; }
  }
  &.belt-3 {
    &.position-1 {
      top: $seconds-belts-top + $position-1-top;
      right: $position-1-left;
      transform: rotate(-$egg-tilt-1);
    }

    &.position-2 {
      top: $seconds-belts-top + $position-2-top;
      right: $position-2-left;
      transform: rotate(-$egg-tilt-2);
    }

    &.position-3 {
      top: $seconds-belts-top + $position-3-top;
      right: $position-3-left;
      transform: rotate(-$egg-tilt-3);
    }

    &.position-4 {
      top: $seconds-belts-top + $position-4-top;
      right: $position-4-left;
      transform: rotate(-$egg-tilt-4);
    }

    &.position-5 {
      top: $seconds-belts-top + $position-5-top;
      right: $position-5-left;
      transform: rotate(-$egg-tilt-5);
    }

    &.position-6 {
      top: $seconds-belts-top + $position-6-top;
      right: $position-6-left;
      transform: rotate(-$egg-tilt-6);
    }
  }
  &.belt-4 {
    @extend .belt-3;
    &.position-1 { top: $first-belts-top + $position-1-top; }
    &.position-2 { top: $first-belts-top + $position-2-top; }
    &.position-3 { top: $first-belts-top + $position-3-top; }
    &.position-4 { top: $first-belts-top + $position-4-top; }
    &.position-5 { top: $first-belts-top + $position-5-top; }
    &.position-6 { top: $first-belts-top + $position-6-top; }
  }
}