.key-setter {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2em;
  margin: 0;
  font-weight: 400;

  &.position-1 {
    top: 4em;
    left: 5.5em;
  }
  &.position-2 {
    @extend .position-1;
    top: unset;
    bottom: 26vh;
  }
  &.position-4 {
    @extend .position-1;
    left: calc(100% - 9.5em);
  }
  &.position-3 { @extend .position-4, .position-2; }

  &.bad-input { @include animation(bad-input, .8s, 1, ease); }
  @include keyframes(bad-input){
    0% { @include transform(translateX(0)); }
    20% { @include transform(translateX($bad-input-translate));  }
    40% { @include transform(translateX(-$bad-input-translate)); }
    60% { @include transform(translateX($bad-input-translate)); }
    80% { @include transform(translateX(-$bad-input-translate)); }
    100% { @include transform(translateX(0)); }
  }

  span {
    font-size: 90%;
  }

  .ket, .key-input {
    font-size: 150%;
    font-family: $main-font;
    font-weight: 400;
    color: $red-color;
    padding-bottom: .02em;
    text-transform: uppercase;
    border-bottom: .02em solid transparent;
  }

  .key {
    margin-left: .5em;
    border-bottom: none;
  }

  .key-input {
    display: none;
    width: 1.5em;
    height: 1.4em;
    margin-left: .3em;
    padding: 0 0 0 .2em;
    background: none;
    border: none;
    border-bottom: .02em solid #000;

    &::placeholder {
      color: $red-color;
      opacity: 1;
      border-bottom: none;
    }

    &:focus {
      outline: none;
    }
  }
}