.main-headline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;

  &.game-over { display: none; }

  > * {
    display: flex;
    flex-direction: row;
  }

  span {
    &.blue { color: $headline-blue; }
    &.orange { color: $headline-orange; }
    &.purple { color: $headline-purple; }
  }
}