body.phone {
  position: relative;
  width: 100%;
  max-width: unset;
  height: 100vh;
  margin: 0;
  background: $main-bg;

  #message-banner {
    .banner-content {
      width: 80%;
      margin: 0 10%;
    }

    h1 {
      font-size: 5em;
    }

    #start-btn {
      font-size: 3em;
    }

    .buttons {
      margin-top: 3em;
    }
  }

  .header {
    display: none;
    height: 20vh;
  }

  .main {
    display: block;
    width: 80%;
    height: 100%;
    min-height: unset;
    margin: 0 10%;
    border: 1px solid $moving-btn-border-color;
    border-left: none;
    border-right: none;
    border-radius: 0;

    .high-score {
      bottom: 0;
      left: 0;
      margin: 0 0 .3em;
      padding-left: .5em;
    }

    .player {
      font-size: 130%;

      &.position-1 {
        top: 5.5em;
      }

      &.position-2 {
        top: calc(101.5% - #{$player-height});
      }
    }

    .belt {
      font-size: 65%;
    }

    .item {
      font-size: 120%;
    }

    .game-info {
      font-size: 80%;
    }

    .high-score {
      font-size: 100%;
    }

    .crack-egg {
      font-size: 65%;
    }
  }

  .footer {
    display: none;
  }
  
  @import "moving-btn";
}