body.phone {
  position: relative;
  display: flex;
  max-width: 100%;
  height: 100vh;
  margin: 0;

  #message-banner {
    //display: none;
  }

  .header {
    display: none;
    height: 20vh;
  }

  .main {
    display: block;
    width: 80%;
    height: 100vh;
    margin: 0 10%;
    border: none;
    border-radius: 0;
  }

  .footer {
    display: none;
  }
  
  @import "moving-btn";
}