.player {
  font-size: 200%;
  width: $player-width;
  height: $player-height;
  z-index: 5;

  transition: top .3s ease, left .3s ease;

  &.position-0 {
    top: 100%;
    left: 50%;
    margin-top: -$player-height;
    margin-left: -($player-width / 2);
  }
  &.position-5 {
    top: 60%;
    left: 50%;
    margin-left: -($player-width / 2);
  }
  &.position-1 {
    top: 70%;
    margin-top: -$player-height;
    left: 17%;
  }
  &.position-2 {
    top: 100%;
    margin-top: -$player-height;
    left: 17%;
  }
  &.position-3 {
    @extend .position-2;
    left: 71%;
    transform: rotateY(180deg);
  }
  &.position-4 {
    @extend .position-1;
    left: 71%;
    transform: rotateY(180deg);
  }

  > * {
    position: absolute;
  }

  .player-body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6;

    background-image: url('../img/zajicek.png');
    background-position: top center;
    background-size: cover;
  }

  .player-hand {
    &.left {
      width: 2em;
      height: 2em;
      top: 3em;
      left: -.8em;
      background-image: url('../img/zajicek-ruka-leva.png');
      background-position: top center;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    &.right {
      @extend .left;
      width: 2.5em;
      height: 3em;
      top: 2.7em;
      left: unset;
      right: -.95em;
      background-image: url('../img/zajicek-ruka-prava.png');
    }
  }

  &.wave {
    .player-hand.right {
      animation: .6s 2 ease waving;
    }

    @keyframes waving {
      0% {
        transform-origin: -25% 50%;
        transform: rotate(0deg);
      }
      25% {
        transform-origin: -25% 50%;
        transform: rotate(6deg);
      }
      75%{
        transform-origin: -25% 50%;
        transform: rotate(-6deg);
      }
      100% {
        transform-origin: -25% 50%;
        transform: rotate(0deg);
      }
    }
  }
}
