.player {
  font-size: 200%;
  width: $player-width;
  height: $player-height;

  z-index: 5;

  transition: top .3s ease, left .3s ease;
  //transition: all .3s ease;

  &.position-0 {
    top: 100%;
    left: 50%;
    margin-left: -($player-width / 2);

    .player-hand {
      &.left {
        left: 1.6em;
      }

      &.right {
        right: 1.6em;
      }
    }
  }
  &.position-5 {
    top: 60%;
    left: 50%;
    margin-left: -($player-width / 2);

    .player-hand {
      &.left {
        left: 2.05em;
      }
      &.right {
        right: 1.8em;
      }
    }
  }
  &.position-1 {
    top: $first-belts-top;
    margin-top: -160px;
    left: 25%;

    .player-body {
      left: 60%;
    }

    .player-hand {
      top: 3.1em;
      left: 3.6em;

      &.left {

      }

      &.right {
        top: 3.6em;
      }
    }
  }
  &.position-2 {
    bottom: 0;
    left: 25%;

    .player-body {
      left: 5.2em;
    }

    .player-hand {
      top: 3.6em;
      left: 4.4em;

      &.left {

      }

      &.right {
        top: 4.2em;
      }
    }
  }
  &.position-3 {
    @extend .position-2;
    left: 75%;
    //right: 180px;
    transform: rotateY(180deg);
  }
  &.position-4 {
    @extend .position-1;
    left: 75%;
    //right: 180px;
    transform: rotateY(180deg);
  }

  > * {
    position: absolute;
  }

  .player-body {
    width: 100%;
    height: 100%;
    top: 0 !important;
    left: 0 !important;

    background-image: url('../img/zajicek.png');
    background-position: top center;
    background-size: cover;
  }

  .player-hand {
    width: 2em;
    height: 2em;
    top: 3em !important;

    &.left {
      left: -.8em !important;
      background-image: url('../img/zajicek-ruka-leva.png');
      background-position: top center;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    &.right {
      @extend .left;
      left: unset !important;
      height: 2.5em;
      right: -.4em !important;
      background-image: url('../img/zajicek-ruka-prava.png');
    }
  }
}
